<div class="hero-anime">	

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand">Book Rides</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
                                <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Action</a>
                                        <a class="dropdown-item">Another action</a>
                                        <a class="dropdown-item">Something else here</a>
                                        <a class="dropdown-item">Another action</a>
                                    </div>
                                </li> -->
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                                    <div class="dropdown-menu" aria-labelledby="homeDropdown">
                                        <a class="dropdown-item">Action</a>
                                        <a class="dropdown-item">Another action</a>
                                        <a class="dropdown-item">Something else here</a>
                                        <a class="dropdown-item">Another action</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link">Rides</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Request Ride</a>
                                        <a class="dropdown-item">Past Rides</a>
                                        <!-- <a class="dropdown-item">Something else here</a>
                                        <a class="dropdown-item">Another action</a> -->
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userType=='Admin'">
                                    <a class="nav-link" routerLink="/user-list">User List</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Action</a>
                                        <a class="dropdown-item">Another action</a>
                                        <a class="dropdown-item">Something else here</a>
                                        <a class="dropdown-item">Another action</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="!userType">
                                    <a class="nav-link" routerLink="/login">LogIn</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="!userType">
                                    <a class="nav-link" routerLink="/signup">SignIn</a>
                                </li>
                                <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userType">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="/profile">
                                        {{userName}}
                                        <span>
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                    </a>
                                </li> -->
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" *ngIf="userType">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      {{userName}}
                                      <span>
                                          <i class="fa fa-user-circle"></i>
                                      </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" routerLink="/profile">Profile</a>
                                        <a class="dropdown-item" (click)="userLogout()">Logout</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleDarkMode()">
                                        <span class="light-layout">
                                            <i class="fa fa-sun"></i>
                                        </span>
                                            
                                        <span class="dark-layout">
                                            <i class="fa fa-moon"></i>
                                        </span>
                                    </a>
                                </li>                             
                                
                            </ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="section full-height">
		<div class="absolute-center">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
				<h1><span>B</span><span>o</span><span>o</span><span>t</span><span>s</span><span>t</span><span>r</span><span>a</span><span>p</span> <span>4</span><br>
				<span>m</span><span>e</span><span>n</span><span>u</span></h1>
				<p>scroll for nav animation</p>	
						</div>	
					</div>		
				</div>		
			</div>
			<div class="section mt-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div id="switch">
								<div id="circle"></div>
							</div>
						</div>	
					</div>		
				</div>			
			</div>
		</div>
	</div>
	<div class="my-5 py-5">
	</div> -->
  
<!-- Link to page
================================================== -->

	<!-- <a href="https://front.codes/" class="logo" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcy.png" alt="">
	</a> -->

</div>

<script id="rendered-js">

    (function ($) {"use strict";
      $(function () {
        var header = $(".start-style");
        $(window).scroll(function () {
          var scroll = $(window).scrollTop();

          if (scroll >= 10) {
            header.removeClass('start-style').addClass("scroll-on");
          } else {
            header.removeClass("scroll-on").addClass('start-style');
          }
        });
      });

      $(document).ready(function () {
        $('body.hero-anime').removeClass('hero-anime');
      });
      
      $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
        if ($(window).width() > 750) {
          var _d = $(e.target).closest('.nav-item');_d.addClass('show');
          setTimeout(function () {
            _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
          }, 1);
        }
      });
      
      $("#switch").on('click', function () {
        if ($("body").hasClass("dark")) {
          $("body").removeClass("dark");
          $("#switch").removeClass("switched");
        } else
        {
          $("body").addClass("dark");
          $("#switch").addClass("switched");
        }
      });

    })(jQuery);

    </script>